@font-face {
    font-family: 'National Park';
    src: url('./fonts/NationalPark/NationalPark-Regular.woff2') format('woff2'),
         url('./fonts/NationalPark/NationalPark-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'National Park';
    src: url('./fonts/NationalPark/NationalPark-Heavy.woff2') format('woff2'),
         url('./fonts/NationalPark/NationalPark-Heavy.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Amatic_SC';
    src: url('./fonts/Amatic_SC/AmaticSC-Regular.woff2') format('woff2'),
         url('./fonts/Amatic_SC/AmaticSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amatic_SC';
    src: url('./fonts/Amatic_SC/AmaticSC-Bold.woff2') format('woff2'),
         url('./fonts/Amatic_SC/AmaticSC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*
    Loading it as a "normal" font-face so it can get specified for the summon
    canvas and the fallbacks and be normal.
 */
@font-face {
    font-family: 'Amatic_SC_Bold';
    src: url('./fonts/Amatic_SC/AmaticSC-Bold.woff2') format('woff2'),
         url('./fonts/Amatic_SC/AmaticSC-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
    Don't let Amatic try to take any Greek characters; specify Open Sans as something
    specifically Greek, even though it's just the same file as the rest. (The magic is
    in the order of fallbacks.)
*/
@font-face {
    font-family: 'Open Sans Condensed Greek';
    src: url('./fonts/Open_Sans_Condensed/OpenSansCondensed-Light.woff2') format('woff2'),
         url('./fonts/Open_Sans_Condensed/OpenSansCondensed-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('./fonts/Open_Sans_Condensed/OpenSansCondensed-Light.woff2') format('woff2'),
         url('./fonts/Open_Sans_Condensed/OpenSansCondensed-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('./fonts/Open_Sans_Condensed/OpenSansCondensed-Light.woff2') format('woff2'),
         url('./fonts/Open_Sans_Condensed/OpenSansCondensed-Light.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

html, body {
    margin: 0;
}

body {
    background-color: rgb(16, 16, 50);
    font-family: 'National Park', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    touch-action: none;
}


/* mix of scrollbar directives to work across browsers */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(185, 185, 185) black;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(185, 185, 185);
    border-radius: 20px;
    border: 3px solid black;
}
